Tuple Based Practice Problem :

In [1]:
#Create a tuple with integers from 1 to 5.
x=(1,2,3,4,5)
print(type(x),x)

<class 'tuple'> (1, 2, 3, 4, 5)

In [3]:
# Access the third element of a tuple.
x=(1,2,3,4,5)
print(x[2])

3

In [4]:
# Find the length of a tuple without using the`len()` function.
x=(1,2,3,4,5)
print(len(x))

5

In [7]:
#Count the occurrences of an element in a tuple.
x=(1,2,3,4,5,3,3,3)
z=int(input("enter the item to find it occurence"))
print(x.count(z))

1

In [8]:
#Find the index of the first occurrence of an element in a tuple.
x=(1,2,3,4,5,3,3,3)
print(x.index(1))

0

In [14]:
#Check if an element exists in a tuple.
x=(1,2,3,4,5,3,3,3)
z=int(input("enter the item to find if it exsit or not"))
if (x.count(z))>=1:
    print("found")
else:
    print("not found!")

not found!

In [17]:
#Convert a tuple to a list.
x=(1,2,3,4,5,3,3,3)
x=list(x)
print(x,type(x))

[1, 2, 3, 4, 5, 3, 3, 3] <class 'list'>

In [18]:
# Convert a list to a tuple.
x=[1,2,3,4,5,3,3,3]
x=tuple(x)
print(x,type(x))

(1, 2, 3, 4, 5, 3, 3, 3) <class 'tuple'>

In [25]:
#Unpack the elements of a tuple into variables.
x=(1,2,3,4,5)
variable1,variable2,variable3,variable4,variable5=x
print(variable1,variable2,variable3,variable4,variable5)

1 2 3 4 5

In [29]:
# Create a tuple of even numbers from 1 to 10.
list1=[i for i in range(0,11,+2)]
list1=tuple(list1)
print(list1,"\t",type(list1))

(0, 2, 4, 6, 8, 10) 	 <class 'tuple'>

In [28]:
#Create a tuple of odd numbers from 1 to 10.
list1=[i for i in range(1,11,+2)]
list1=tuple(list1)
print(list1,"\t",type(list1))

(1, 3, 5, 7, 9) 	 <class 'tuple'>

In [31]:
#Concatenate two tuples.
tup1=[1,2,3,4,5]
tup2=[6,7,8,9,10]
tup1=tup1+tup2
print(tup1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
#Repeat a tuple three times.
tup1=(1,2,3,4,5)
tup1=tup1*3
print(tup1)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [51]:
 #Check if a tuple is empty.
tup1=()
if len(tup1)==0:
    print("tuples is empty")
    print(type(tup1))
else:
    print("tuple is not empty")

tuples is empty
<class 'tuple'>

In [41]:
#Create a nested tuple.
tup1=(1,2,3,4,5,(6,7,8,9))
print(tup1)

(1, 2, 3, 4, 5, (6, 7, 8, 9))

In [46]:
#Access the first element of a nested tuple.
tup1=(1,2,3,4,5,(6,7,8,9))
print(tup1[5][0])

6

In [54]:
 #Create a tuple with a single element.
tup1=(1,)
print(len(tup1))
type(tup1)

1

tuple

In [63]:
#18. Compare two tuples.
tup_1=(1,2,3,4,5,6,7,8,9,10)
tup_2=(1,2,3,4,5,6,7,8,9,10)
flag=all( i==j for i,j in zip(tup_1,tup_2))
if flag:
    print("same value")
else:
    print("differnt!")

same value

In [65]:
#19. Delete a tuple.
tup_1=(1,2,3,4,5,6,7,8,9,10)
tup_1=list(tup_1)
tup_1.clear()
tup_1=tuple(tup_1)
print(tup_1,type(tup_1))

() <class 'tuple'>

In [67]:
#20. Slice a tuple.
tup_1=(1,2,3,4,5,6,7,8,9,10)
print(tup_1[::-1])

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [69]:
# 21.Find the maximum value in a tuple.
tup_1=(1,2,3,4,5,6,7,8,9,10)
print(max(tup_1))

10

In [70]:
#22. Find the minimum value in a tuple.
tup_1=(1,2,3,4,5,6,7,8,9,10)
print(min(tup_1))

1

In [72]:
#23. Convert a string to a tuple of characters.
str_x="abcdefjhijklmnopqrstuvwxyz"
tup1=tuple(str_x)
print(tup1)

('a', 'b', 'c', 'd', 'e', 'f', 'j', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')

In [73]:
tup1=('a', 'b', 'c', 'd', 'e', 'f', 'j', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
str_1="".join(tup1)
print(str_1)

abcdefjhijklmnopqrstuvwxyz

In [75]:
#25. Create a tuple from multiple data types.
tup1=("a",False,1212,None,4+5j,1.23,"pakistan!")
print(tup1)
list1=[type(i) for i in tup1]
print(list1)

('a', False, 1212, None, (4+5j), 1.23, 'pakistan!')
[<class 'str'>, <class 'bool'>, <class 'int'>, <class 'NoneType'>, <class 'complex'>, <class 'float'>, <class 'str'>]

In [77]:
#26. Check if two tuples are identical.
tup1=(1,2,3,4,5,6,7,8,9,10)
tup2=(1,2,3,4,5,6,7,8,9,10)
flag=all(i==j for i,j in zip(tup1,tup2))
print(flag)

True

In [78]:
#27. Sort the elements of a tuple.
tup1=(10,9,8,7,6,5,4,3,2,1)
tup1=list(tup1)
tup1.sort()
tup1=tuple(tup1)
print(tup1,type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [97]:
#28. Convert a tuple of integers to a tuple of strings.
tup1=(1,2,3,4,5,6,7,8,9,10)
tup1_str = " ".join(str(i) for i in tup1)
tup1=tuple(tup1)
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [109]:
# 29. Convert a tuple of strings to a tuple of integers.
tup1 = ("(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)",)
tup2 = tuple(int(x) for x in tup1[0].strip("()").split(", "))
print(tup2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [111]:
#30. Merge two tuples. "+" can also be used 
tup1=(1,2,3,4,5,6,7,8,9,10)
tup2=(10,20,30,40)
tupl2=tuple(zip(tup1,tup2))
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [121]:
#31. Flatten a nested tuple.
tupl1=(1,2,3,4,(5,6,7))
print(tupl1)
tupl2 = tuple(i for j in tupl1 for i in (j if isinstance(j, tuple) else (j,)))
print(tupl2)

(1, 2, 3, 4, (5, 6, 7))
(1, 2, 3, 4, 5, 6, 7)

In [123]:
#32. Create a tuple of the first 5 prime numbers.
fact=1
list1=[]
for i in range(1,6):
  fact*=i
  list1.append(fact)
tup1=tuple(list1)
print(tup1)

(1, 2, 6, 24, 120)

In [141]:
tup = (1, 2, 3, 3, 2, 1)

flag = all(tup[i] == tup[-(i + 1)] for i in range(len(tup)//2))

if flag:
    print("The tuple is plaindrome")
else:
    print("The tuple is not plaindrome.")

The tuple is plaindrome

In [162]:
#Create a tuple of squares of numbers from 1 to 5.t
list1=[]
list1=[i*i for i in range(1,6)]
tup=tuple(list1)
print(tup)

(1, 4, 9, 16, 25)

In [167]:
#35. Filter out all even numbers from a tuple
tuple1=(1,2,3,4,5,6,7,8,9,10)
tuple2 = tuple(i for i in tuple1 if i%2==1)
print(tuple2)

(1, 3, 5, 7, 9)

In [170]:
#36. Multiply all elements in a tuple by 2. #lamda function can aslo used
tup1=(1,2,3,4,5,6,7,8,9,10)
tup1=tuple(i*2 for i in tup1)
print(tup1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [230]:
#37. Create a tuple of random numbers.
import random
for i in range(10):
  list.append(random.randint(1,10))
print(tuple(list))

(1, 4, 9, 16, 25, 3, 8, 9, 4, 5, 6, 6, 7, 7, 8, 8, 7, 10, 9, 2, 5, 4, 3, 7, 9)

In [237]:
#38. Check if a tuple is sorted.
tuple1=(1,1,3,4,5,6,7,8,9,10)
flag = all(tuple1[i] <= tuple1[i+1] for i in range(len(tuple1)-1))
if flag:
    print("sorted")
else:
    print("not sorted")

not sorted

In [246]:
#39
tup = (1, 2, 3, 4, 5)
n = int(input("Enter the value of left rotation: "))
if n > len(tup):
    n = n % len(tup)
rotated_tup = tup[n:] + tup[:n]
print(rotated_tup)

(4, 5, 1, 2, 3)

In [253]:
#40. Rotate a tuple to the right by`n`positions.
tup = (1, 2, 3, 4, 5)
n = int(input("Enter the value of left rotation: "))
if n > len(tup):
    n = n % len(tup)
rotated_tup = tup[n:] + tup[0:-n:1]
print(rotated_tup)

(4, 5, 1, 2)

In [261]:
#41. Create a tuple of the first 5 Fibonacci numbers.
tup=[]
first_number=0
secoond_number=1
for i in range(1,6):
    tup.append(first_number)
    sum=first_number+secoond_number
    first_number=secoond_number
    secoond_number=sum
print(tuple(tup))

(0, 1, 1, 2, 3)

In [283]:
n=int(input("enter the size of tuple"))
list1=[]
for i in range(n):
    q=input("enter desierd value")
    list1.append(q)
print(tuple(list1))

('1', '2', '3', '4')

In [1]:
#43. Swap two elements in a tuple.
q=(1,2,3,4,5,6,7,8,9,10)
d = list(q)
x, y = 2, 5 
d[x], d[y] = d[y], d[x] 
q = tuple(d)
print(q)

(1, 2, 6, 4, 5, 3, 7, 8, 9, 10)

In [10]:
#44. Reverse the elements of a tuple.
q=(1,2,3,4,5,6,7,8,9,10)
d = list(q)
d=list(reversed(d))
print(tuple(d))

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [12]:
#45. Create a tuple of the first `n`powers of 2.
n=int(input("enter value of n:"))
list1=[]
for i in range(1,n+1):
   list1.append(2**i)
print(tuple(list1))

(2, 4, 8, 16, 32)

In [13]:
#46. Find the longest string in a tuple of strings.
tuple=("my","name","is","askari")
print(max(tuple,key=len))

askari

In [14]:
#47. Find the shortest string in a tuple of strings.
tuple=("my","name","is","askari")
print(min(tuple,key=len))

my

In [2]:
#48. Create a tuple of the first `n` triangular numbers.
n=int(input("enter value of n:"))
tuple1=tuple(i*(i+1)//2 for i in range(1,n+1))
print(tuple1)

(1, 3)

In [17]:
#49. Check if a tuple contains another tuple as a subsequence.
tup=(1,2,3,4,5,(1,2,3))
tup1=(1,2,3)
if tup.__contains__(tup1):
    print("contain list inside")
else:
    print("not found")

contain list inside

In [1]:
#50. Create a tuple of alternating 1s and 0s of length `n`.
n=int(input("enter value "))
tup = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(tup)

(1, 0, 1, 0)